@import 'bootstrap-3.1.0.scss';
// @import 'bootflat.scss';
// @import 'bootflatcss.scss';

body {
  @extend .container; //?
  font-size: 12px;
// font-family: "Lucida Console", Monaco, monospace;
// "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace
//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel1 {
  @extend .panel;
  @extend .panel-default;
  header {
    @extend .panel-heading;
    a { // @.panel-default > .panel-heading
      color: #333;
      background-color: #f5f5f5;
      border-color: #ddd;
    }
  }
  header.draggable {
    cursor: move;
  }
  // .panel1-body { @extend .panel-body; }
}

.table2, .table1 {
  @extend .table;
  @extend .table-condensed;
  background: white; //?
  margin-bottom: 0px;

  .center  { text-align: center; }
  .digital { text-align: right;
    sup {
      font-size: 100%;
    }
  }

  span.collapse.in {
    display: inline;
  }
  tr.collapse.in {
    display: table-row;
  }
}
.table2 {
  @extend .table-bordered;
}

// .stripe-table > tbody > tr:nth-child(odd) > th,
   .stripe-table > tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}

// from skel.amber
.nobr { white-space: pre; }
//? .nobrinline { white-space: nowrap; display: inline; }

//? .right { text-align: right; }

.code {
  @extend code;
  display: inline;
  // white-space: pre;
  // white-space: nowrap;
  white-space: normal;

  color: black;
  background-color: #f4f4f4;
}
.unit {
//@extend code;
//font-size: 100%;
//padding: 0px 0px;

//display: inline;
//white-space: normal;

  color: black;
  background-color: #f4f4f4;
}

table thead th { font-weight: normal; }
table .bold    { font-weight: bold;   }

table thead tr .header a {
  &:hover {
    // @extend a; @extend a:hover;
    color: #428bca;
    text-decoration: none;
  }
  color: black;
  text-decoration: none;
}
table thead tr .header a.asc,
table thead tr .header a.desc {
  font-weight: bold;
}
table thead tr .header a {
  position: relative;
}
table thead tr .header a.asc:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  left: 100%;
  top: 0.5em;
  border-left:   0.3em solid transparent;
  border-right:  0.3em solid transparent;
  border-bottom: 0.3em solid black;
}
table thead tr .header a.desc:after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  left: 100%;
  top: 0.5em;
  border-left:   0.3em solid transparent;
  border-right:  0.3em solid transparent;
  border-top:    0.3em solid black;
}

// .badge-default { @extend .badge; background:
.badge-primary { @extend .badge; background: #428bca; }
.badge-success { @extend .badge; background: #5cb85c; }
.badge-info    { @extend .badge; background: #5bc0de; }
.badge-warning { @extend .badge; background: #f0ad4e; }
.badge-danger  { @extend .badge; background: #d9534f; }
