<table class="{{"table1"}} {{"stripe-table"}}">
	<thead>
		<tr>
			<th></th>
			<th class="{{"digital"}}">User%</th>
			<th class="{{"digital"}}">Sys%</th>
			<th class="{{"digital"}}">Idle%</th>
		</tr>
	</thead>
	<tbody>{{$__amber_1 := .Data.CPU}}{{$__amber_2 := $__amber_1.TRHTMLAttr}}{{$tr_attr := $__amber_2}}{{$__amber_3 := .Data.CPU}}{{$__amber_4 := $__amber_3.NOrow0}}{{$__amber_5 := not $__amber_4}}{{if $__amber_5}}
		<tr{{$tr_attr}}>
		<td class="{{"digital"}} {{"nobr"}}">
			<span id="{{"Data.CPU.N"}}">{{$__amber_6 := .Data.CPU}}{{$__amber_7 := $__amber_6.N}}{{$__amber_7}} total</span>
		</td>
		<td class="{{"digital"}}">{{$__amber_8 := .Data.CPU}}{{$__amber_9 := $__amber_8.AttrUser}}{{$__amber_10 := .Data.CPU}}{{$__amber_11 := $__amber_10.User}}<span id="Data.CPU.User"{{$__amber_9}}>{{$__amber_11}}</span></td>
		<td class="{{"digital"}}">{{$__amber_12 := .Data.CPU}}{{$__amber_13 := $__amber_12.AttrSys}}{{$__amber_14 := .Data.CPU}}{{$__amber_15 := $__amber_14.Sys}}<span id="Data.CPU.Sys"{{$__amber_13}}>{{$__amber_15}}</span></td>
		<td class="{{"digital"}}">{{$__amber_16 := .Data.CPU}}{{$__amber_17 := $__amber_16.AttrIdle}}{{$__amber_18 := .Data.CPU}}{{$__amber_19 := $__amber_18.Idle}}<span id="Data.CPU.Idle"{{$__amber_17}}>{{$__amber_19}}</span></td>
		</tr>{{end}}{{$__amber_20 := .Data.CPU}}{{$__amber_21 := $__amber_20.NOrows}}{{$__amber_22 := not $__amber_21}}{{if $__amber_22}}{{$__amber_23 := .Data.CPU}}{{$__amber_24 := $__amber_23.List}}{{range $i, $core := $__amber_24}}
		<tr{{$tr_attr}}>
		<td class="{{"digital"}}">{{$__amber_25 := $core.N}}#{{$__amber_25}}</td>
		<td class="{{"digital"}}">{{$__amber_26 := __amber_add "core" $i}}{{$__amber_27 := __amber_add $__amber_26 ".User"}}{{$__amber_28 := $core.AttrUser}}{{$__amber_29 := $core.User}}<span id="{{$__amber_27}}"{{$__amber_28}}>{{$__amber_29}}</span></td>
		<td class="{{"digital"}}">{{$__amber_30 := __amber_add "core" $i}}{{$__amber_31 := __amber_add $__amber_30 ".Sys"}}{{$__amber_32 := $core.AttrSys}}{{$__amber_33 := $core.Sys}}<span id="{{$__amber_31}}"{{$__amber_32}}>{{$__amber_33}}</span></td>
		<td class="{{"digital"}}">{{$__amber_34 := __amber_add "core" $i}}{{$__amber_35 := __amber_add $__amber_34 ".Idle"}}{{$__amber_36 := $core.AttrIdle}}{{$__amber_37 := $core.Idle}}<span id="{{$__amber_35}}"{{$__amber_36}}>{{$__amber_37}}</span></td>
		</tr>{{end}}{{end}}
		{{$__amber_38 := .Data.CPU}}{{$__amber_39 := $__amber_38.JS}}{{$__amber_39}}
	</tbody>
</table>
