{{$__amber_1 := .Data.Interfaces}}{{$__amber_2 := $__amber_1.TRHTMLAttr}}{{$tr_attr := $__amber_2}}{{$__amber_3 := .Data.Interfaces}}{{$__amber_4 := $__amber_3.List}}{{range $if := $__amber_4}}
<tr{{$tr_attr}}>
<td>{{$__amber_5 := $if.Name}}{{$__amber_5}}</td>
<td class="{{"digital"}}">{{$__amber_6 := $if.DeltaIn}}{{$__amber_6}}</td>
<td class="{{"digital"}}">{{$__amber_7 := $if.DeltaOut}}{{$__amber_7}}</td>
<td class="{{"digital"}}">{{$__amber_8 := $if.In}}{{$__amber_8}}</td>
<td class="{{"digital"}}">{{$__amber_9 := $if.Out}}{{$__amber_9}}</td>
</tr>{{end}}
