{{$__amber_1 := .Data.ProcTable}}{{$__amber_2 := $__amber_1.TRHTMLAttr}}{{$tr_attr := $__amber_2}}{{$__amber_3 := .Data.ProcTable}}{{$__amber_4 := $__amber_3.List}}{{range $proc := $__amber_4}}
<tr{{$tr_attr}}>
<td class="{{"digital"}}">{{$__amber_5 := $proc.PID}}{{$__amber_5}}</td>
<td class="{{"digital"}}">{{$__amber_6 := $proc.User}}{{$__amber_6}}</td>
<td class="{{"digital"}}">{{$__amber_7 := $proc.Priority}}{{$__amber_7}}</td>
<td class="{{"digital"}}">{{$__amber_8 := $proc.Nice}}{{$__amber_8}}</td>
<td class="{{"digital"}}">{{$__amber_9 := $proc.Size}}{{$__amber_9}}</td>
<td class="{{"digital"}}">{{$__amber_10 := $proc.Resident}}{{$__amber_10}}</td>
<td class="{{"center"}}">{{$__amber_11 := $proc.Time}}{{$__amber_11}}</td>
<td>{{$__amber_12 := $proc.Name}}{{$__amber_12}}</td>
</tr>{{end}}
