{{define "content"}}
	<div class="box-body">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-solid">
					<div class="box-header">
						<h3 class="box-title">{{.Data.Name}}</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<span class="fa fa-spin fa-gear"></span>
						<p> Sentinel Add Request processing. Constellation view will reload in {{.RefreshTime}}s </p>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div><!-- ./col -->
		</div>
	</div>

{{end}}
