{{$__amber_1 := .Data.DiskTable}}{{$__amber_2 := $__amber_1.TRHTMLAttr}}{{$tr_attr := $__amber_2}}{{$__amber_3 := .Data.DiskTable}}{{$__amber_4 := $__amber_3.List}}{{range $disk := $__amber_4}}
<tr{{$tr_attr}}>{{$__amber_5 := $disk.ShortDiskName}}{{$__amber_6 := __amber_eql $__amber_5 ""}}{{if $__amber_6}}
<td>{{$__amber_7 := $disk.DiskName}}{{$__amber_7}}</td>{{else}}
<td>{{$__amber_8 := $disk.DiskName}}
	<span class="{{"tooltipable"}}" data-toggle="{{"tooltip"}}" data-placement="{{"left"}}" title="{{$__amber_8}}">{{$__amber_9 := $disk.ShortDiskName}}{{$__amber_9}}...</span>
</td>{{end}}
<td>{{$__amber_10 := $disk.DirName}}{{$__amber_10}}</td>
<td class="{{"digital"}}">{{$__amber_11 := $disk.Avail}}{{$__amber_11}}</td>
<td class="{{"digital"}}">
	{{$__amber_12 := $disk.Used}}{{$__amber_12}}&nbsp;
	<sup>{{$__amber_13 := $disk.AttrUsePercent}}{{$__amber_14 := $disk.UsePercent}}<span{{$__amber_13}}>{{$__amber_14}}%</span></sup>
</td>
<td class="{{"digital"}}">{{$__amber_15 := $disk.Total}}{{$__amber_15}}</td>
</tr>{{end}}
