<table class="{{"table1"}} {{"stripe-table"}}">
	<thead>
		<tr>
			<th class="{{"header"}}">{{$__amber_1 := .Data.DiskTable}}{{$__amber_2 := $__amber_1.Links}}{{$__amber_3 := $__amber_2.DiskName}}        <a{{$__amber_3}}>Device</a></th>
			<th class="{{"header"}}">{{$__amber_4 := .Data.DiskTable}}{{$__amber_5 := $__amber_4.Links}}{{$__amber_6 := $__amber_5.DirName}}        <a{{$__amber_6}}>Mounted</a></th>
			<th class="{{"header"}} {{"digital"}}">{{$__amber_7 := .Data.DiskTable}}{{$__amber_8 := $__amber_7.Links}}{{$__amber_9 := $__amber_8.Avail}}<a{{$__amber_9}}>Avail</a></th>
			<th class="{{"header"}} {{"digital"}}">{{$__amber_10 := .Data.DiskTable}}{{$__amber_11 := $__amber_10.Links}}{{$__amber_12 := $__amber_11.Used}}<a{{$__amber_12}}>Used</a></th>
			<th class="{{"header"}} {{"digital"}}">{{$__amber_13 := .Data.DiskTable}}{{$__amber_14 := $__amber_13.Links}}{{$__amber_15 := $__amber_14.Total}}<a{{$__amber_15}}>Total</a></th>
		</tr>
	</thead>
	<tbody>{{$__amber_16 := .Data.DiskTable}}{{$__amber_17 := $__amber_16.TRHTMLAttr}}{{$tr_attr := $__amber_17}}{{$__amber_18 := .Data.DiskTable}}{{$__amber_19 := $__amber_18.List}}{{range $disk := $__amber_19}}
		<tr{{$tr_attr}}>{{$__amber_20 := $disk.ShortDiskName}}{{$__amber_21 := __amber_eql $__amber_20 ""}}{{if $__amber_21}}
		<td>{{$__amber_22 := $disk.DiskName}}{{$__amber_22}}</td>{{else}}
		<td>{{$__amber_23 := $disk.DiskName}}
			<span class="{{"tooltipable"}}" data-toggle="{{"tooltip"}}" data-placement="{{"left"}}" title="{{$__amber_23}}">{{$__amber_24 := $disk.ShortDiskName}}{{$__amber_24}}...</span>
		</td>{{end}}
		<td>{{$__amber_25 := $disk.DirName}}{{$__amber_25}}</td>
		<td class="{{"digital"}}">{{$__amber_26 := $disk.Avail}}{{$__amber_26}}</td>
		<td class="{{"digital"}}">
			{{$__amber_27 := $disk.Used}}{{$__amber_27}}&nbsp;
			<sup>{{$__amber_28 := $disk.AttrUsePercent}}{{$__amber_29 := $disk.UsePercent}}<span{{$__amber_28}}>{{$__amber_29}}%</span></sup>
		</td>
		<td class="{{"digital"}}">{{$__amber_30 := $disk.Total}}{{$__amber_30}}</td>
		</tr>{{end}}
		{{$__amber_31 := .Data.DiskTable}}{{$__amber_32 := $__amber_31.JS}}{{$__amber_32}}
	</tbody>
</table>
