{{$__amber_1 := .Data.DiskTable}}{{$__amber_2 := $__amber_1.TRHTMLAttr}}{{$tr_attr := $__amber_2}}{{$__amber_3 := .Data.DiskTable}}{{$__amber_4 := $__amber_3.List}}{{range $disk := $__amber_4}}
<tr{{$tr_attr}}>{{$__amber_5 := $disk.ShortDiskName}}{{$__amber_6 := __amber_eql $__amber_5 ""}}{{if $__amber_6}}
<td>{{$__amber_7 := $disk.DiskName}}{{$__amber_7}}</td>{{else}}
<td>{{$__amber_8 := $disk.DiskName}}
	<span class="{{"tooltipable"}}" data-toggle="{{"tooltip"}}" data-placement="{{"left"}}" title="{{$__amber_8}}">{{$__amber_9 := $disk.ShortDiskName}}{{$__amber_9}}...</span>
</td>{{end}}
<td class="{{"digital"}}">{{$__amber_10 := $disk.Ifree}}{{$__amber_10}}</td>
<td class="{{"digital"}}">
	{{$__amber_11 := $disk.Iused}}{{$__amber_11}}&nbsp;
	<sup>{{$__amber_12 := $disk.AttrIusePercent}}{{$__amber_13 := $disk.IusePercent}}<span{{$__amber_12}}>{{$__amber_13}}%</span></sup>
</td>
<td class="{{"digital"}}">{{$__amber_14 := $disk.Inodes}}{{$__amber_14}}</td>
</tr>{{end}}
