{{define "content"}}
	<div class="box-body">
		<div class="row">
			<div class="col-md-12">
				<div class="box box-solid">
					<div class="box-header">
						<h3 class="box-title">Reset Initiated on  {{.Pod.Name}} <span class="fa fa-spinner fa-gear"></span></h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<h3> Pod Reset Initiated</h3>
						<p> Request was submitted, page will reload to the pod view in {{.RefreshTime}}s</p>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div><!-- ./col -->
		</div>
	</div>

{{end}}
